<div class="login"><form class="login-form">
    <div class="topLogin">Log In</div>
    <div class="logContent">
        <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">login</button>
            <a href="/signup">sign up instead</a>
        </div>
    </div>
</form>

</div>
<script src="/javascript/login.js"></script>