{{> post-info post }}
{{#if loggedIn}}
<a href="/"> &larr; Return to posts</a>
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        
    </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}