:root {
  --hooker: #397367;
  --dGreen: #326C6B;
  --pine: #5DA399;
  --seaweed: #42858C;
  --onyx: #35393C;
}

* {
  box-sizing: border-box;
  
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: aliceblue;
  background-color: #35393C;
}

a {
  text-decoration: none;
  color: #5da399;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #397367;
}

button {
  background-color: #42858c;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

button:hover {
  background-color: #326C6B;
}
.newPost a {
  color: aliceblue;
}
.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  background-color: #7d7d7d;
  padding: 0.5%;
  color: aliceblue;
  border-radius: 5px;
  border: 1px solid var(--onyx);
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--dGreen);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.login{
  display: flex;
}

.login form {
  margin: 15px;
  border: 3px solid var(--dGreen);
  width: 30%;
  
  border-radius: 5px;
}
.logContent div {
  padding: 5px;
}
.topLogin {
  background-color: var(--dGreen);
  margin: -1px;
  padding:5px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--dGreen);
  flex-wrap: wrap;
  padding: 0 1%;
  font-size: 1.5em;
}
nav {
  padding-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div {
  margin-left: 20px;
  padding: 0;
  
}

header div {
  
  font-size: 2em;
  display: block;
  background-color: var(--dGreen);
  border-radius: 5px;
  color: aliceblue;
  padding-left: 10px;
  box-shadow: 5px 5px 5px #285148;
  

}

li {
  list-style: none;
}
main {
  flex: 1;
  padding: 2% 4%;
  justify-content: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--pine);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--dGreen);
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 4px solid var(--dGreen);
  border-radius: 5px;
  
}

.title{
  font-size: 18px;
  background-color: var(--dGreen);
  padding: 3px;
  margin: 0;
  border: 2px solid var(--dGreen);
  display: flex;
  justify-content: space-between;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: aliceblue;
  text-align: right;
}
.content-box{
  padding: 5px;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}


.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
   background-color: #397367;
}

.comment:nth-child(odd) {
  background-color: var(--hooker);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
 
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid var(--dGreen);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
